/* место для вашего кода */

.light__block {
  background: #fff;
}

header,
main,
footer,
.overlay {
  width: 100%;
  max-width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 92px 50px;
}

.header__menu {
  grid-column: 1/2;
  align-self: center;
  padding-bottom: 3px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.header__links-list-item {
  padding-top: 1px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.173px;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.menu-link_active {
  text-decoration: none;
}

.header__menu-link_inactive {
  position: relative;
  left: 2px;
}

.header__logo {
  display: block;
  grid-column: 2/3;
  width: 148px;
}

.header__logo-image {
  height: 105px;
}

.contacts {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__contacts {
  grid-column: 3/4;
  justify-self: end;
  max-width: 240px;
  padding-bottom: 2px;
}

.header__contacts-link {
  text-underline-offset: 4px;
  text-wrap: nowrap;
}

.cover {
  position: relative;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: block;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__title_center {
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
}

.cover__title_end {
  padding-top: 20px;
  padding-left: 615px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 107px;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 22px;
  text-align: left;
  word-spacing: 0.85em;
}

.bet-button {
  position: relative;
  z-index: 2;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.content__block {
  margin: 0 24px 0 24px;
}

.lots {
  margin-bottom: 120px;
}

.content__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.174;
  text-transform: uppercase;
}

.lots__title {
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.195;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  text-transform: uppercase;
}

.card__description {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display:block;
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.174;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 596px calc(100% - 596px);
  margin-bottom: 180px;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  display: flex;
  grid-column: 1/2;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: 2/3;
  padding-top: 100px;
  padding-left: 72px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.contacts__footer {
  grid-column: 1/2;
}

.footer__menu {
  grid-column: 2/3;
  justify-self: center;
  padding-top: 4px;
  text-align: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__links-list-item {
  list-style-type: none;
}

.footer__socnets-list {
  display: flex;
  flex-direction: row;
  grid-column: 3/4;
  justify-self: end;
  gap: 48px;
  list-style-type: none;
}

.footer__socnets-list-item {
  display: block;
  width: 48px;
  height: 48px;
}
